h1{
	padding: 20px 0;
}
#draggable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em;
	background-color: skyblue;
}
#dragg { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0;
 }
#droppable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
}
#resizable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
}
#resizable h3 { 
	text-align: center; 
	margin: 0; 
}

